<div class="container" id ="doclayout" style="margin-top:30px;">
	<div class="row">

		<div class="col-md-3">
			<aside class="sidebar">
				<ul class="nav">
					<li class="heading">Apache Flume Tutorial</li>
					<li><a is-active-nav href="#home">Apache Flume - Home</a></li>
					<li><a is-active-nav href="#intro">Apache Flume - Introduction</a></li>
					<li><a is-active-nav href="#install">Apache Flume Installation</a></li>
					<li><a href="/apache_flume/apache_flume_architecture.htm">Apache Flume - Architecture</a></li>
					<li><a href="/apache_flume/apache_flume_data_flow.htm">Apache Flume - Data Flow</a></li>
					<li><a href="/apache_flume/apache_flume_environment.htm">Apache Flume - Environment</a></li>
					<li><a href="/apache_flume/apache_flume_configuration.htm">Apache Flume - configuration</a></li>
					<li><a href="/apache_flume/fetching_twitter_data.htm">Apache Flume - Fetching Twitter Data</a></li>
					<li><a href="/apache_flume/sequence_generator_source.htm">Sequence Generator Source</a></li>
					<li><a href="/apache_flume/apache_flume_netcat_source.htm">Apache Flume - NetCat Source</a></li>
				</ul>

				<ul class="nav nav-list primary left-menu">
					<li class="heading">Apache Flume Resources</li>
					<li><a href="/apache_flume/apache_flume_quick_guide.htm">Apache Flume - Quick Guide</a></li>
					<li><a href="/apache_flume/apache_flume_useful_resources.htm">Apache Flume - Useful Resources</a></li>
					<li><a href="/apache_flume/apache_flume_discussion.htm">Apache Flume - Discussion</a></li>
				</ul>

				<ul class="nav nav-list primary push-bottom left-menu special">
					<li class="heading">Selected Reading</li>
					<li><a target="_top" href="/developers_best_practices/index.htm">Developer's Best Practices</a></li>
					<li><a target="_top" href="/questions_and_answers.htm">Questions and Answers</a></li>
				</ul>
			</aside>
		</div>


		<div class="content">
			<div class="col-md-7" style="margin-top:-18px;">
			<div id="home" style="display:block;margin-top: -50px;"><br><br>
				<h1>Apache Flume Tutorial</h1>
				<hr />
				<p>Flume is a standard, simple, robust, flexible, and extensible tool for data ingestion from various data producers (webservers) into Hadoop. In this tutorial, we will be using simple and illustrative example to explain the basics of Apache Flume and how to use it in practice.</p>
				<h1>Audience</h1> 
				<p>This tutorial is meant for all those professionals who would like to learn the process of transferring log and streaming data from various webservers to HDFS or HBase using Apache Flume.</p>
				<h1>Prerequisites</h1>
				<p>To make the most of this tutorial, you should have a good understanding of the basics of Hadoop and HDFS commands.</p>
				<hr />
			</div>

			<div id="intro" style="display:block;margin-top: -71px;"><br><br>
				<h1>Introduction</h1> 
				<p>Flume is a standard, simple, robust, flexible, and extensible tool for data ingestion from various data producers (webservers) into Hadoop. In this tutorial, we will be using simple and illustrative example to explain the basics of Apache Flume and how to use it in practice.</p>
				<p>This tutorial is meant for all those professionals who would like to learn the process of transferring log and streaming data from various webservers to HDFS or HBase using Apache Flume.</p>
				<h1>Prerequisites</h1>
				<p>To make the most of this tutorial, you should have a good understanding of the basics of Hadoop and HDFS commands.</p>
				<hr />
			</div>

			<div id="install" style="display:block;margin-top:-40px;"><br><br>

				<p>Flume is a standard, simple, robust, flexible, and extensible tool for data ingestion from various data producers (webservers) into Hadoop. In this tutorial, we will be using simple and illustrative example to explain the basics of Apache Flume and how to use it in practice.</p>
				<h1>Audience</h1> 
				<p>This tutorial is meant for all those professionals who would like to learn the process of transferring log and streaming data from various webservers to HDFS or HBase using Apache Flume.</p>
				<h1>Prerequisites</h1>
				<p>To make the most of this tutorial, you should have a good understanding of the basics of Hadoop and HDFS commands.</p>
				<hr />
			</div>

			<div>

				<p>Flume is a standard, simple, robust, flexible, and extensible tool for data ingestion from various data producers (webservers) into Hadoop. In this tutorial, we will be using simple and illustrative example to explain the basics of Apache Flume and how to use it in practice.</p>
				<h1>Audience</h1> 
				<p>This tutorial is meant for all those professionals who would like to learn the process of transferring log and streaming data from various webservers to HDFS or HBase using Apache Flume.</p>
				<h1>Prerequisites</h1>
				<p>To make the most of this tutorial, you should have a good understanding of the basics of Hadoop and HDFS commands.</p>
				<hr />
			</div>

			<div>

				<p>Flume is a standard, simple, robust, flexible, and extensible tool for data ingestion from various data producers (webservers) into Hadoop. In this tutorial, we will be using simple and illustrative example to explain the basics of Apache Flume and how to use it in practice.</p>
				<h1>Audience</h1> 
				<p>This tutorial is meant for all those professionals who would like to learn the process of transferring log and streaming data from various webservers to HDFS or HBase using Apache Flume.</p>
				<h1>Prerequisites</h1>
				<p>To make the most of this tutorial, you should have a good understanding of the basics of Hadoop and HDFS commands.</p>
				<hr />
			</div>

			<div>

				<p>Flume is a standard, simple, robust, flexible, and extensible tool for data ingestion from various data producers (webservers) into Hadoop. In this tutorial, we will be using simple and illustrative example to explain the basics of Apache Flume and how to use it in practice.</p>
				<h1>Audience</h1> 
				<p>This tutorial is meant for all those professionals who would like to learn the process of transferring log and streaming data from various webservers to HDFS or HBase using Apache Flume.</p>
				<h1>Prerequisites</h1>
				<p>To make the most of this tutorial, you should have a good understanding of the basics of Hadoop and HDFS commands.</p>
				<hr />
			</div>

			</div>
		</div>


<div class="col-md-2" id="rightbar">
	<div class="panel panel-default" style="height:1000px;">

				<div class="panel">
					Ads 
				</div>


	</div>

</div>

</div><!--row-->
</div><!--container-->

<script type="text/javascript">
	$('a[href^="#"]').on('click', function(event) {

    var target = $( $(this).attr('href') );

    if( target.length ) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: target.offset().top
        }, 1000);
    }

});
</script>