<div class="container">
    <div class="row">
        <div class="panel col-lg-4 col-lg-offset-4" id="signup">
            <h3>Register with your email account</h3><br>

            <form method="post" ng-submit="signup()" name="signUpForm" role="form" autocomplete="off">
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name" name="displayName" ng-model="displayName" placeholder="Name" required data-validation-required-message="Please enter your name.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="somebody@example.com" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <input type="password" class="form-control" id="password" name="password" ng-model="password" placeholder="Password" required data-validation-required-message="Please enter your password.">
                    </div>
                </div>

                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign up">

            </form>

        </div>
    </div>
</div>