 <!-- Page Content -->
<div class="container" id ="doclayout" style="margin-top:30px;">
    <div class="row">

        <div class="col-md-2">
            <aside class="sidebar">

                <ul class="nav">
                    <li class="heading">Apache Spark</li>
                    <li><a is-active-nav href="#introSpark">Introduction</a></li>
                </ul>

                <ul class="nav">
                    <li class="heading">Apache...</li>
                    <li><a is-active-nav href="#apache2">apache2................... ssss</a></li>
                    <li><a is-active-nav href="#apache3">apache3</a></li>
                </ul>


                <ul class="nav">
                    <li class="heading">Apache ...</li>
                    <li><a href="#apache4">apache4</a></li>
                    <li><a href="#apache5">apache5</a></li>
                    <li><a href="#apache6">apache6</a></li>
                </ul>

            </aside>
        </div>


        <div class="content">
            <div class="col-md-7" style="margin-top:-18px;">

            <div id="introSpark" style="display:block;margin-top:-50px;"><br><br>
                <h2>Apache Spark</h2>
                <hr />
                <!--content goes here-->
            </div>


            <div id="apache2" style="display:block;margin-top: -50px;"><br><br>
                <h2>apache2</h2>
                <hr />
                <!--content goes here-->

            </div>


            <div id="apache3" style="display:block;margin-top:-40px;"><br><br>
                <h2>apche3</h2>
                <hr />
                <!--content goes here-->

            </div><


            <div id="apache4" style="display:block;margin-top:-40px;"><br><br>
                <h2>apache4</h2>
                <hr />
                <!--content goes here-->

            </div>


            <div id="apache5" style="display:block;margin-top:-40px;"><br><br>
                <h2>apache5</h2>
                <hr />
                <!--content goes here-->

            </div>

            <div id="apache6" style="display:block;margin-top:-40px;"><br><br>
                <h2>apache6</h2>
                <hr />

            </div>

            </div>
        </div><!--/content-->


        <div class="col-md-3" id="rightbar">
            <div class="panel panel-default" style="height:1000px;">
                <div class="panel">
                    Ads 
                </div>
            </div>
        </div>

    </div><!--row-->
</div><!--container-->

  <script type="text/javascript">
    $('a[href^="#"]').on('click', function(event) {

    var target = $( $(this).attr('href') );

    if( target.length ) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: target.offset().top
        }, 1000);
    }

});
</script>


